NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=vehicle_catalog

NHTSA_BASE_URL=https://vpic.nhtsa.dot.gov/api/vehicles
NHTSA_REQUEST_TIMEOUT_MS=10000

LOG_LEVEL=info

INGESTION_MAKES_LIMIT=50